.centered {
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.rightborder {
    border-right: 2px solid black;
}

.alert {
  color: darkred;
  line-height: 0%;
}

.custom-input{
  font-size: 16px !important;
  margin: 1em 0em !important;
  width: 90% !important;
}